.wd-heading {
  border: 1px solid rgb(47, 51, 54);
  padding: 12px 16px;
}
.wd-heading h5 {
  color: lightgray;
}
h5 > span {
  font-size: 15px;
  font-weight: bold;
}
.wd-bookmark-content {
  word-break: break-all;
}
img {
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}
.wd-bookmarks {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(47, 51, 54);
}
.wd-bookmark {
  padding: 12px 16px;
}

.wd-bookmark-top {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  max-width: 506px;
}

.wd-profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.wd-image-content {
  margin-top: 12px;
  border-radius: 15px;
  border: 1px solid rgb(47, 51, 54);
}

.wd-image-caption {
  padding: 12px;
}
.wd-subtext {
  font-size: 15px;
  color: rgb(110, 118, 125);
}
.wd-actions {
  padding-top: 12px;
  display: flex;
  justify-content: space-evenly;
}
.wd-action {
  display: flex;
}

.wd-action h5 {
  color: lightgray;
}
.wd-action img {
  width: 16px;
  padding-right: 12px;
  filter: invert(100%) sepia(1%) saturate(7452%) hue-rotate(193deg)
    brightness(110%) contrast(65%);
}
.wd-action-like {
  filter: invert(24%) sepia(87%) saturate(6201%) hue-rotate(355deg)
    brightness(91%) contrast(121%);
}
